{% extends 'base.html' %} {% block content %}

<h1>World Cup Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Cup Year: {{ cup.year }}</span>
        <h5>Location: {{ cup.location }}</h5>
        <h5>Match between:</h5>
        <h5>(A) {{ cup.champion }} v. {{ cup.runner_up }} (B)</h5>
        <br />
        <h5>Final Score:</h5>
        <h5>{{ cup.champion }} {{ cup.champion_score }} - {{ cup.runner_up_score }} {{ cup.runner_up}}</h5>
        <h5>MVP's</h5>
        <h5>{{ cup.mvps }}</h5>
      </div>
      <div class="card-action">
        <a href="{% url 'world_cups_update' cup.id %}">Edit</a>
        <a href="{% url 'world_cups_delete' cup.id %}">Delete</a>
      </div>
    </div>
    {% for photo in cup.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" />
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_photo' cup.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file" />
      <br /><br />
      <input type="submit" class="btn" value="Upload Photo" />
    </form>
  </div>
  <div class="col s6">
    <form action="{% url 'add_fan' cup.id %}" method="post">
      {% csrf_token %} {{ fan_form.as_p }}
      <input type="submit" class="btn" value="Add Fan" />
    </form>
    <h4>FANS</h4>
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>From</th>
          <th>Supports</th>
        </tr>
      </thead>
      <tbody>
        {% for fan in cup.fan_set.all %}
        <tr>
          <td>{{fan.name}}</td>
          <td>{{fan.age}}</td>
          <td>{{fan.country_of_residency}}</td>
          {% if fan.get_supports_display == 'Team A' %}
          <td>{{cup.champion}}</td>
          {% else %}
          <td>{{cup.runner_up}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ cup.year }}'s World Cup Fan Attire</h3>
    {% if cup.fan_attire.count %} {% for attire in cup.fan_attire.all %}
    <div class="card">
      <a href="{% url 'item_detail' attire.id %}">
        <div class="card-content">
          <span class="card-title"> An interesting {{ attire.clothing }} </span>
        </div>
      </a>
    </div>
    {% endfor %} {% else %}
    <h5>No Fans are bringing fun clothing :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Attire</h3>
    {% if items.count %} {% for item in items.all %}
    <div class="card">
      <a href="{% url 'item_detail' item.id %}">
        <div class="card-content">
          <span class="card-title"> An interesting {{ item.clothing }} </span>
        </div>
      </a>
      <div class="card-action">
        <form action="{% url 'assoc_attire' cup.id item.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>All registered attire has been added for the {{ cup.year }} World Cup</h5>
    {% endif %}
  </div>
</div>

<script>
  var selectEl = document.getElementById("id_supports");
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
