{% extends 'base.html' %} {% block content %}

<h1>World Cup List</h1>

{% for cup in world_cups %}
<div class="card">
  <a href="{% url 'detail' cup.id %}">
    <div class="card-content">
      <span class="card-title">Cup Year: {{ cup.year }}</span>
      <h5>Location: {{ cup.location }}</h5>
      <h5>Match between:</h5>
      <h5>(A) {{ cup.champion }} v. {{ cup.runner_up }} (B)</h5>
      <br />
      <h5>Final Score:</h5>
      <h5>{{ cup.champion }} {{ cup.champion_score }} - {{ cup.runner_up_score }} {{ cup.runner_up}}</h5>
      <h5>MVP's</h5>
      <h5>{{ cup.mvps }}</h5>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
